
.form {
    width: 100%;
    margin-top: 1em;
}
.form mat-card {
    height: auto;
    width: 50%;
    min-width: 200px;
    min-height: 200px;
}
.form__input {
    width: 100%;
}
.form__input input {
    width: 100%;
}
.form__button {
    margin-top: 1em;
}

.form__header.mat-card-header .mat-card-header-text {
    margin: 0 !important;
}
.form__footer {
    background-color: #ebe8e8;
}
.form__footer img {
    height: 75px;
}