<div class="form" fxLayout="column" fxLayoutAlign="center center">

    <mat-card>
        <mat-card-header fxLayoutAlign="start" class="form__header">
            <mat-card-title>Um Form Simples!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="simpleForm" (ngSubmit)="handleForm(simpleForm.value)">
                  <mat-form-field class="form__input">
                        <input matInput id="usernameInput" type="text" placeholder="Name" name="name"
                        formControlName="name" [errorStateMatcher]="matcherName" required>
                    <mat-error *ngIf="simpleForm?.controls?.name?.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                  <mat-form-field class="form__input">
                        <textarea id="passInput" type="password" matInput placeholder="Message"
                        formControlName="message" name="message" [errorStateMatcher]="matcherMessage"
                        required></textarea>
                    <mat-error *ngIf="simpleForm?.controls?.message?.hasError('required')">
                        Message is <strong>required</strong>
                    </mat-error>

                </mat-form-field>
                <!--inicio do toggle-->
                Mostrar Imagem:
                <mat-slide-toggle formControlName="showImg"></mat-slide-toggle>
                <!--fim do toggle-->
                <br>
                <div fxLayout="column">
                    <mat-label>Selecione seu Animal Favorito</mat-label>
                    <select required formControlName="favoriteAnimal" fxLayoutAlign="start start">
                        <option value="cat">Gato</option>
                        <option value="dog">Cachorro</option>
                        <option value="fish">Peixe</option>
                        <option value="fox">Raposa</option>
                    </select>
                    <mat-hint>Eu queria usar o select do proprio Angular (mat-select), mas tive dificuldade pra integrar no form group :/</mat-hint>
                </div>

                <div fxLayoutAlign="space-between" class="form__button">
                    <button mat-button type="submit">Enviar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>

</div>